<section class="chat-list">
  <button class="show-users-button">
    <a routerLink="/users" target="_self" rel="next">See Users</a>
  </button>

  <ul>
    <li (click)="toggleChatView()">
      <div class="user-profile-picture-container">
        <img
          src="../../../../assets/img/users/profile-pictures/default-user-avatar.png"
          alt="User Avatar used as Profile Picture"
          class="user-profile-picture-container__picture"
        />
      </div>

      <div class="user-data">
        <h2>Global Chat</h2>
        <p>Click here for more...</p>
      </div>
    </li>

    <li *ngFor="let friend of friends">
      <div class="user-profile-picture-container">
        <img
          src="../../../../assets/img/users/profile-pictures/default-user-avatar.png"
          alt="User Avatar used as Profile Picture"
          class="user-profile-picture-container__picture"
        />
      </div>

      <div class="user-data">
        <h2>{{ friend.username }}</h2>
        <p>Last message...</p>
      </div>
    </li>
  </ul>
</section>
