:host {
  section {
    textarea {
      resize: none;
    }

    .send-button {
      background-color: #7bd2fa;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      color: #fff;
      padding: 10px 15px;
    }
  }
}
