@use "../../../../assets/utilities/mixins";

:host {
  section {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    @include mixins.flex-center;
    padding-inline: 15px;

    textarea {
      border: none;
      font-family: Arial, Helvetica, sans-serif;
      outline: none;
      padding-top: 15px;
      resize: none;
      width: 100%;
    }

    .send-button {
      background-color: transparent;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      color: #fff;
      margin-left: 15px;
      max-width: 25px;

      img {
        filter: contrast(0.04);
        opacity: 0.6;
        width: 100%;
      }
    }
  }
}
