<header>
  <button
    (click)="openFriendRequestsModal()"
    class="open-friend-requests-button"
    matBadge="{{ localUser?.friends?.receivedRequests?.length }}"
    matBadgePosition="after"
    matBadgeColor="warn"
    matBadgeDescription="Friend Requests"
    aria-label="Friend Requests"
  >
    Friend Requests
  </button>
</header>

<app-friend-requests-modal
  *ngIf="isFriendRequestsModalOpen"
  [possibleFriendsList]="
    getPossibleFriends(localUser?.friends?.receivedRequests!)
  "
  (closeFriendRequestsModalEvent)="closeFriendRequestsModal()"
></app-friend-requests-modal>

<ul class="users-list">
  <li *ngFor="let user of users">
    <div class="user-data">
      <img
        src="../../../assets/img/users/profile-pictures/default-user-avatar.png"
        alt="User Avatar"
      />

      <h3>{{ user.username }}</h3>
    </div>

    <div class="actions">
      <button class="add-user-button">
        <img
          class="request-sent"
          src="../../../../assets/icons/request-sent.svg"
          alt="Request Sent Icon"
          *ngIf="isPendingFriendRequest(user); else showAddOrAddedFriendIcon"
        />

        <ng-template #showAddOrAddedFriendIcon>
          <img
            class="added-friend"
            src="../../../../assets/icons/friend.svg"
            alt="Add User Icon"
            *ngIf="checkIfUserIsMyFriend(user); else notMyFriend"
          />

          <ng-template #notMyFriend>
            <img
              (click)="sendFriendRequest(user)"
              class="not-added-friend"
              src="../../../../assets/icons/add-user.svg"
              alt="Add User Icon"
            />
          </ng-template>
        </ng-template>
      </button>
    </div>
  </li>
</ul>
