@use "../../../assets/utilities/mixins";

:host {
  display: block;
  position: relative;
  width: 100%;

  header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding-inline: 15px;

    .open-friend-requests-button {
      background-color: #5c5e5e;
      border-radius: 4px;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      padding: 7px 10px;

      &:hover {
        background-color: #3c3e3e;
      }

      &:active {
        background-color: #7c7e7e;
        filter: brightness(1.1);
      }
    }
  }

  .users-list {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c4c4c2;
      border-radius: 15px;
      border: 1px solid #5c5e5e;
    }

    li {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      @include mixins.flex-center;
      gap: 12px;
      justify-content: space-between;
      padding: 10px;
      width: 100%;

      .user-data {
        align-items: center;
        display: flex;
        gap: 10px;

        img {
          max-width: 40px;
        }
      }

      .actions {
        .add-user-button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          img {
            margin-top: 3px;

            width: 100%;

            &.not-added-friend {
              max-width: 20px;
            }

            &.request-sent {
              max-width: 22px;
            }

            &.added-friend {
              max-width: 35px;
            }
          }
        }
      }
    }
  }
}
