@use "../../../../assets/utilities/mixins";

:host {
  .friend-requests-modal {
    height: 100%;
    @include mixins.flex-center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .background-overlay {
      background-color: #000000e0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    .friend-requests-container {
      background-color: #4a4d4d;
      border-radius: 8px;
      color: #fff;
      min-height: 60vh;
      min-width: 400px;
      padding: 25px;
      position: relative;
      width: max-content;

      .close-friend-requests-modal-button {
        background-color: #e42525;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
      }

      h2 {
        text-align: center;
      }

      .friend-requests-list {
        @include mixins.flex-center(column);
        align-items: flex-start;
        gap: 10px;
        list-style: none;
        margin-top: 20px;

        li {
          background-color: #5c5e5e;
          border: 1px solid #fff;
          border-radius: 15px;
          @include mixins.flex-center;
          gap: 15px;
          justify-content: space-between;
          padding: 12px 15px;
          width: 100%;

          .content,
          .actions {
            align-items: center;
            display: flex;
            gap: 10px;
          }

          .content {
            img {
              max-width: 40px;
            }
          }

          .actions {
            .friend-request-action-button {
              border: none;
              border-radius: 4px;
              color: #fff;
              cursor: pointer;
              font-size: 15px;
              font-weight: bold;
              padding: 8px 14px;

              &.accept-friend-request-button {
                background-color: #228b22;
              }

              &.decline-friend-request-button {
                background-color: #ff5733;
              }

              &:hover {
                filter: saturate(0.8);
              }

              &:active {
                filter: saturate(1.4);
              }
            }
          }
        }
      }

      #nothing-to-see-here-title {
        color: #dedede;
        font-size: 22px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
      }
    }
  }
}
