:host {
  display: flex;

  .message {
    border-radius: 11px;
    line-height: 25px;
    max-width: 450px;
    padding: 10px 15px;
    white-space: pre-wrap;
    word-break: break-all;

    &.host-message {
      background-color: #47a4fb;
      color: #fff;
    }

    &.friend-message {
      background-color: #fff;
      border: 1px solid #bbb;
    }

    h2 {
      font-size: 18px;
    }
  }
}
